*{margin: 0px;}

header{
    width: 100%;
    height: 80px;
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.startContianer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
#quizButton{
    left: 25px;;
    position: relative;
    width:200px;
}

.sidebar__background{
    z-index: 80;
    top: 0px;
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.301);
}
.sidebar[open]:not(:focus-within) {
    background: green;
    transition: background-color 0.01s;
}
.sidebar{
    z-index: 1000;
    position: absolute;
    width: 300px;
    height: 100%;
    background: rgb(56, 56, 56);
    flex-direction: column;
    top: 0px;
    transition: all ease-in 0.5s;
    color: white;
    border: none;
}
.sidebar__header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background: rgb(56, 56, 56);
}

.sidebar__content{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: rgb(56, 56, 56);
}

.aLink{
    padding: 50px;
    width: 200px;
    border: none;
    background:  rgb(83, 83, 83);
}

.container__answers{
    list-style: none;

}

.modals{
    z-index: 100;
    bottom: 0;
    position: fixed;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.301);
}

.modal__content{
    position: relative;
    width: 65%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
}
        
.modal__content[open]:not(:focus-within) {
    background-color: rgb(0, 255, 55);
    transition: background-color 0.01s;
}

.modal__content__header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25%;
}

.modal__content__body{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}

.modal__content__footer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25%;
}


.--flexCenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


