*{margin: 0px;}

header{
    width: 100%;
    height: 80px;
}
#navbar{
    background: rgba(163, 21, 39);
}
#menuButton{
    border-color: rgb(255, 255, 255);
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.startContianer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
#quizButton{
    left: 25px;;
    position: relative;
    width:200px;
    background: #A31527;
    border: none;
}

.sidebar--background{
    display: flex;
    z-index: 80;
    top: 0px;
    position: absolute;
    height: 100%;
    width: 0%;
    background: rgba(0, 0, 0, 0.301);
}


.sidebar{
    display: flex;
    z-index: 1000;
    position: absolute;
    width: 0px;
    left: -200px;
    height: 100%;
    background: rgb(119, 20, 32);
    flex-direction: column;
    top: 0px;
    transition: all ease-in 0.2s;
    color: white;
    border: none;
}
.sidebar--show{
    left: 0px;
    transition: all ease-in 0.2s;
    left: 0;
}
.sidebar__header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background: rgb(163, 21, 39);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.sidebar__content{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: rgb(163, 21, 39);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.aLink{
    padding: 50px;
    width: 200px;
    border: none;
    background:  rgb(163, 21, 39);
    color: #FFFFFF;
}

.container__answers{
    list-style: none;

}

.modals{
    z-index: 100;
    bottom: 0;
    position: fixed;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.301);
}

.modal__content{
    position: relative;
    width: 65%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
}
        
.modal__content[open]:not(:focus-within) {
    background: rgb(218, 218, 218);
    transition: background-color 0.01s;
}

.modal__content__header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25%;
}

.modal__content__body{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}

.modal__content__footer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25%;
}


.--flexCenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#submitButton{
    background: #A31527;
    border: none;
    color: #ffff;
    margin: 50px;
    width: 160px;
}

#quizform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

